
/* I was trying to find a better font but not sure if that would pass the WAVE check. */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  line-height: 1.6;
}

header {
  background: #222;
  color: #fff;
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

nav li {
  margin-right: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.card {
  background: #f4f4f4;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #333;
  border-radius: 8px;
}

.card:hover {
  background: #ddd;
}

/* This works as the hover color change!! */
a:hover {
  color: rgb(221, 123, 11);
}

iframe {
  max-width: 100%;
}

footer {
  background: #222;
  color: white;
}